body {
  margin: 0;
  background-color: black;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  border-bottom: 4px solid orange;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  border: 1px solid white;
  margin-right: 2px;
}

.navbar a:hover {
  background-color: white;
  color: black;
}
