body {
  font-family: Calibri, sans-serif;
  background-color: #f3f5f9;
  margin: 0;
  padding: 40px;
  position: relative;
}

.banner {
  background-color: #2c5419;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  display: inline-block;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  margin-bottom: 40px;
}

.list-box {
  border: 1px solid #000;
  width: fit-content;
  padding: 15px 25px;
  background-color: white;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul.nested {
  list-style-type: circle;
  margin-top: 5px;
}
